/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--bg-color);
  width: 1024px;
}

.header {
  background-image: url('../images/cover-image-dark.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-rows: 100px 330px 183px;
  height: 768px;
  width: 1024px;
  padding: 20px;
}

.header__theme-menu {
  display: flex;
  justify-content: center;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-button {
  display: inline-flex;
  align-items: flex-start;
  height: 26px;
  padding: 0 13px;
  background: transparent;
  border: none;
  color: var(--accent-color);
  text-transform: lowercase;
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid #ff0070;
  pointer-events: none;
}

.header__accent-text {
  color: var(--accent-text-color);
  margin-left: -20px;
  align-self: flex-end;
  text-shadow: 4px 4px 0px #ff0070;
  font-family: IBM Plex Mono;
  font-size: 157px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 129.525px */
}

.header__main-text {
  align-self: flex-end;
  margin: 0 0 0 auto;
  width: 491px;
  height: 70px;
  background: #ff0070;
  color: #000028;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}
